.about-imgs {
    visibility: hidden;
    opacity: 0;
}

.about-imgs:target {
    visibility: visible;
    opacity: 1;
    transition: visibility .6s, opacity .5s ease-in-out;
}

.about-imgs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}